.header {
  background-color: darkslateblue;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  color: white;
  margin-left: 15px;
}

#header-buttons {
  height: 40px;
}

.blog-post {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 75%;
}

.posted-by {
  color: darkgrey;
}

.modal.show {
  display: block;
}

.message {
  color: red;
}
