<div class="header d-flex">
  <h1 class="header-text">Angular Blog</h1>
  <div
    class="btn-group"
    id="header-buttons"
    role="group"
    aria-label="Default button group"
    *ngIf="!signInStatus"
  >
    <button
      type="button"
      class="btn btn-outline-success"
      data-bs-target="#staticBackdrop"
      (click)="showSingInModal = true"
    >
      Sing In
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="showSignUpModal = true; cleanData()"
    >
      Sing Up
    </button>
  </div>
  <div
    class="btn-group"
    id="header-buttons"
    role="group"
    aria-label="Default button group"
    *ngIf="signInStatus"
  >
    <button
      type="button"
      class="btn btn-outline-success"
      data-bs-target="#staticBackdrop"
      (click)="showAddPostModal = true"
    >
      Add post
    </button>
    <button type="button" class="btn btn-warning" disabled>
      {{ currentUserName }}
    </button>
    <button type="button" class="btn btn-outline-warning" (click)="signOut()">
      Sing Out
    </button>
  </div>
</div>
<div class="container">
  <div class="card mt-4" *ngFor="let blog of blogs">
    <div class="blog-post">
      <div class="content">
        <h3>{{ blog.topic }}</h3>
        <h5 class="posted-by">Posted by: {{ blog.postedBy }}</h5>
        <p>{{ blog.message }}</p>
      </div>
      <div class="date">
        <p>{{ blog.date }}</p>
        <div
          class="btn-group"
          role="group"
          aria-label="Basic mixed styles example"
          *ngIf="
            (adminStatus && signInStatus) || blog.postedBy === currentUserName
          "
        >
          <button
            type="button"
            class="btn btn-danger"
            (click)="
              showAddPostModal = true; editPost(blog.id); editStatus = true
            "
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-warning"
            (click)="deletePost(blog.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: showSingInModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign In</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="showSingInModal = false"
        ></button>
      </div>
      <div class="modal-body">
        <p>Email:</p>
        <input
          type="email"
          [(ngModel)]="currentEmail"
          class="form-control input mb-3"
        />
        <p>Password:</p>
        <input
          type="password"
          [(ngModel)]="currentPassword"
          class="form-control input mb-3"
        />
        <span *ngIf="error" class="message">{{ message }}</span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="showSingInModal = false"
        >
          Close
        </button>
        <button type="button" class="btn btn-success" (click)="signIn()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: showAddPostModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="showAddPostModal = false"
        ></button>
      </div>
      <div class="modal-body">
        <p>Title:</p>
        <input
          type="text"
          [(ngModel)]="title"
          class="form-control input mb-3"
        />
        <p>Text:</p>
        <textarea [(ngModel)]="text" class="form-control mb-3"></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="showAddPostModal = false"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="addPost()"
          *ngIf="!editStatus"
        >
          Post
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="savePost()"
          *ngIf="editStatus"
        >
          Edit Post
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: showSignUpModal }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sign Up</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="showSignUpModal = false"
        ></button>
      </div>
      <div class="modal-body">
        <p>Username:</p>
        <input
          type="text"
          [(ngModel)]="newUserName"
          class="form-control input mb-3"
        />
        <p>Email:</p>
        <input
          type="email"
          [(ngModel)]="newEmail"
          class="form-control input mb-3"
        />
        <p>Password:</p>
        <input
          type="password"
          [(ngModel)]="newPassword"
          class="form-control input mb-3"
        />
        <span *ngIf="error" class="message">{{ message }}</span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="showSignUpModal = false"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="signUp()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
